<ul class="list-unstyled">
	<li>Rolls Today: <?php echo $rolls_today; ?></li>
	<li>Rolls Total: <?php echo $rolls_total; ?></li>
</ul>
<ul class="list-unstyled">
	<li>Flops Today: <?php echo $flops_today; ?></li>
	<li>Flops Total: <?php echo $flops_total; ?></li>
</ul>