@import "variables.less";
@import "mixins.less";

	html {
		min-height: 100%;
	}
	body {
		background-color: @core_bgcolor;
		background-image: url(/img/bg.png);
		color: @core_white;
		font-family: 'Montserrat', sans-serif;
	}
	
	.stage {
		max-width: 1000px;
		margin: 20px auto 0 auto;
	}

	
	.logo {
		max-width: 100%;
		text-align: center;
	}
	.logo img {
		max-width: 95%;
	}

	.footer {
		margin-top: 50px;
		text-align: center;
		margin-bottom: 60px;
	}
	.footer img {
		max-width: 95%;
	}
		
	.ministage, .resultstage, .finalstage {
		max-width: 800px;
		background-color: #8dc63f;	
		padding: 30px;
		border: 8px solid #fff;
		margin: 40px auto 0 auto;
		font-size: 15px;
		color: @core_black;
	}

	.errorstage {
		max-width: 800px;
		background-color: #c03019;	
		padding: 30px;
		border: 8px solid #fff;
		margin: 20px auto 0 auto;
		color: #fff;
		cursor: pointer;
	}

	.actionstage {
		max-width: 800px;
		background-color: #000;	
		padding: 30px;
		border: 8px solid #fff;
		margin: 20px auto 0 auto;
	}

	.rollstage {
		max-width: 800px;
		background-color: #000;	
		padding: 10px 30px;
		border: 8px solid #fff;
		margin: 20px auto 0 auto;
		text-align: center;
		overflow: hidden;
		clear: both;
	}
	.btn-roll {
		color: #fff;
		background-color: #8dc63f;
		border-color: #517e13;
		color: #000;
	}
	.btn-roll:hover {
		color: #fff;
		background-color: #7cb430;
		border-color: #517e13;
		color: #000;
	}

	.btn-keep {
		color: #fff;
		background-color: #fcb040;
		border-color: #bd7914;
		color: #000;
	}
	.btn-keep:hover {
		color: #fff;
		background-color: #d29132;
		border-color: #996821;
		color: #000;
	}
	
	#txtAddress {
		width: 80%;
		float: left;
		margin-right: 3px;
		height: 44px;
	}

	.rollactions {
		float: right;
		padding-top: 35px;	
	}

	.roller {
		background-color: #000;
		height: 1.4em;
		font-size: 6em;
		overflow: hidden;
		display: inline;
		margin: 0 auto;
		float: left;
	}
					
@import "media_min768max979.less";
@import "media_max979.less";
@import "media_max767.less";
@import "media_max480.less";
@import "media_min992.less";
@import "media_min1200.less";