@media (max-width: 480px) {
	
	.row {
		margin: 0 !important;
	}	
	
	.roller {
		margin: 0 auto;
	}
	
	.rollstage {
		padding: 10px;
	}
	
	.rollactions {
		padding-bottom: 10px;	
	}
	
	#roller {
		max-width: 100% !important;
	}
	#roller .counter-digit {
		max-width: 33% !important;
	}
	
}
