@media (max-width: 767px) {

	.rollactions {
		padding-bottom: 10px;	
	}
	
	#roller {
		margin: 0 auto;
		float: none;
		clear: both;
	}
	
	.rollactions {
		clear: both;
		margin: 0 auto;
		padding-bottom: 10px;
		float: none;
	}
}