
/** core **************************************************************/
@core_bgcolor:				#000000;

@core_white:				#FFFFFF;
@core_red:					#AD1B1B;
@core_lightgray:			#CCCCCC;
@core_gray:					#666666;
@core_black:				#000000;
@corgi_green:				#8dc63f;
	